In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path='/content/drive/MyDrive/Classroom/WA_Fn-UseC_-Telco-Customer-Churn.csv'
df=pd.read_csv(path)
df.head(10)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [2]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [3]:
df.shape

(7043, 21)

In [4]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [6]:
def tenure_group(tenure):
    if tenure <= 12:
        return "New"
    elif tenure <= 36:
        return "Regular"
    elif tenure <= 60:
        return "Loyal"
    else:
        return "Champion"

df['tenure_group'] = df['tenure'].apply(tenure_group)

In [7]:
df['tenure_group']

0            New
1        Regular
2            New
3          Loyal
4            New
          ...
7038     Regular
7039    Champion
7040         New
7041         New
7042    Champion
Name: tenure_group, Length: 7043, dtype: object

In [10]:
def monthly_charge_segment(MonthlyCharges) :
  if(MonthlyCharges)<30 :
    return "Low"
  elif(MonthlyCharges>30 and MonthlyCharges<70) :
    return "Medium"
  elif(MonthlyCharges>70):
    return "High"
  else :
    return "Invalid"





df['monthly_charge_segment']=df['MonthlyCharges'].apply(monthly_charge_segment)

In [12]:
df['monthly_charge_segment']

0          Low
1       Medium
2       Medium
3       Medium
4         High
         ...
7038      High
7039      High
7040       Low
7041      High
7042      High
Name: monthly_charge_segment, Length: 7043, dtype: object

In [13]:
def has_Internet_Service(InternetService) :
  if(InternetService=="DSL" or InternetService=="Fiber optic") :
    return 1
  else :
    return 0






df['has_Internet_Service']=df['InternetService'].apply(has_Internet_Service)

In [14]:

df['has_Internet_Service']

0       1
1       1
2       1
3       1
4       1
       ..
7038    1
7039    1
7040    1
7041    1
7042    1
Name: has_Internet_Service, Length: 7043, dtype: int64

In [16]:

df[df['has_Internet_Service']==0]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment,has_Internet_Service
11,7469-LKBCI,Male,0,No,No,16,Yes,No,No,No internet service,...,No internet service,Two year,No,Credit card (automatic),18.95,326.80,No,Regular,Low,0
16,8191-XWSZG,Female,0,No,No,52,Yes,No,No,No internet service,...,No internet service,One year,No,Mailed check,20.65,1022.95,No,Loyal,Low,0
21,1680-VDCWW,Male,0,Yes,No,12,Yes,No,No,No internet service,...,No internet service,One year,No,Bank transfer (automatic),19.80,202.25,No,New,Low,0
22,1066-JKSGK,Male,0,No,No,1,Yes,No,No,No internet service,...,No internet service,Month-to-month,No,Mailed check,20.15,20.15,Yes,New,Low,0
33,7310-EGVHZ,Male,0,No,No,1,Yes,No,No,No internet service,...,No internet service,Month-to-month,No,Bank transfer (automatic),20.20,20.20,No,New,Low,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7017,4807-IZYOZ,Female,0,No,No,51,Yes,No,No,No internet service,...,No internet service,Two year,No,Bank transfer (automatic),20.65,1020.75,No,Loyal,Low,0
7019,9710-NJERN,Female,0,No,No,39,Yes,No,No,No internet service,...,No internet service,Two year,No,Mailed check,20.15,826.00,No,Loyal,Low,0
7020,9837-FWLCH,Male,0,Yes,Yes,12,Yes,No,No,No internet service,...,No internet service,Month-to-month,Yes,Electronic check,19.20,239.00,No,New,Low,0
7030,0871-OPBXW,Female,0,No,No,2,Yes,No,No,No internet service,...,No internet service,Month-to-month,Yes,Mailed check,20.05,39.25,No,New,Low,0
7037,2569-WGERO,Female,0,No,No,72,Yes,No,No,No internet service,...,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.40,No,Champion,Low,0

In [17]:
def is_multi_line_user(MultipleLines):
  if MultipleLines=="Yes":
    return 1
  else :
    return 0





df['is_multi_line_user']=df['MultipleLines'].apply(is_multi_line_user)

In [18]:

df['is_multi_line_user']

0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    0
7041    1
7042    0
Name: is_multi_line_user, Length: 7043, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  7043 non-null   object
 1   SeniorCitizen           7043 non-null   int64
 2   Partner                 7043 non-null   object
 3   Dependents              7043 non-null   object
 4   tenure                  7043 non-null   int64
 5   PhoneService            7043 non-null   object
 6   MultipleLines           7043 non-null   object
 7   InternetService         7043 non-null   object
 8   OnlineSecurity          7043 non-null   object
 9   OnlineBackup            7043 non-null   object
 10  DeviceProtection        7043 non-null   object
 11  TechSupport             7043 non-null   object
 12  StreamingTV             7043 non-null   object
 13  StreamingMovies         7043 non-null   object
 14  Contract                7043 non-null   object
 15  PaperlessBilling        7043 non-null   object
 16  PaymentMethod           7043 non-null   object
 17  MonthlyCharges          7043 non-null   float64
 18  TotalCharges            7032 non-null   float64
 19  Churn                   7043 non-null   object
 20  tenure_group            7043 non-null   object
 21  monthly_charge_segment  7043 non-null   object
 22  has_Internet_Service    7043 non-null   int64
 23  is_multi_line_user      7043 non-null   int64
dtypes: float64(2), int64(4), object(18)
memory usage: 1.3+ MB

In [21]:
df = df.drop('customerID', axis=1)

In [23]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,monthly_charge_segment,has_Internet_Service,is_multi_line_user
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,...,Month-to-month,Yes,Electronic check,29.85,29.85,No,New,Low,1,0
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,...,One year,No,Mailed check,56.95,1889.50,No,Regular,Medium,1,0
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,New,Medium,1,0
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,...,One year,No,Bank transfer (automatic),42.30,1840.75,No,Loyal,Medium,1,0
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,New,High,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,...,One year,Yes,Mailed check,84.80,1990.50,No,Regular,High,1,1
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,...,One year,Yes,Credit card (automatic),103.20,7362.90,No,Champion,High,1,1
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,...,Month-to-month,Yes,Electronic check,29.60,346.45,No,New,Low,1,0
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,...,Month-to-month,Yes,Mailed check,74.40,306.60,Yes,New,High,1,1
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,...,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,Champion,High,1,0

In [27]:
df['MultipleLines']

0       No phone service
1                     No
2                     No
3       No phone service
4                     No
              ...
7038                 Yes
7039                 Yes
7040    No phone service
7041                 Yes
7042                  No
Name: MultipleLines, Length: 7043, dtype: object